<h1>Kategorie zdjęć</h1>
<div class="form-check-inline form-switch">
  <input class="form-check-input" checked="true" type="checkbox" (change)="test()" id="ctrId">
  <label class="form-check-label" for="ctrId">Kwiaty</label>
</div>
<div class="form-check-inline form-switch">
  <input class="form-check-input" checked="true" type="checkbox" id=" ctrId2">
  <label class="form-check-label" for=" ctrId2">Zwierzęta</label>
</div> 
<div class="form-check-inline form-switch">
  <input class="form-check-input" checked="true" type="checkbox" id=" ctrId3">
  <label class="form-check-label" for=" ctrId3">Samochody</label>
</div> 
<div>
  <!-- <img src="/src/assets/obraz1.jpg"> -->
</div>